<mat-toolbar>
  <span>Contatos</span>
</mat-toolbar>


<form [formGroup]="formulario" (ngSubmit)="submit()">

  <mat-form-field class="full-width">
    <mat-label>Nome</mat-label>
    <input matInput formControlName="nome" placeholder="Digite seu nome">
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>E-mail</mat-label>
    <input matInput formControlName="email" placeholder="Digite seu e-mail">
  </mat-form-field>

  <button mat-button color="primary">Adicionar</button>

</form>
